.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eaeaea;
}

.main-container {
  display: flex;
  align-items: flex-start; /* Align items to the top */
}
